{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>
  <form action="" method="post">
    <div class="form-group">
      <label for="title">Item title</label>
      <input type="text" class="form-control" id="title" name="title" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <ul class="list-group mb-4">
        {% for item in items %}
        <li class="mb-1">
          <div style="{% if item.status == "Completed" %}text-decoration: line-through;{% endif %}">{{ item.title }}<div>
          <form action="/delete" method="post">
            <button
              type="submit"
              name="item_id"
              value="{{ item.id }}"
              class="btn btn-danger btn-sm"
              aria-label="delete-{{ item.title }}"
              on
            >
              Delete
            </button>
          </form>
          <form action="/complete" method="post">
            <button
              type="submit"
              name="item_id"
              value="{{ item.id }}"
              class="btn btn-success btn-sm"
              aria-label="complete-{{ item.title }}"
              on
            >
              {% if item.status == "Completed" %}
              Resume
              {% else %}
              Complete
              {% endif %}
            </button>
          </form>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}